
@{
    ViewBag.Title = "الرئيسية";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="content-heading">
    <div>
        الرئيسية
        <small data-localize="dashboard.WELCOME"></small>
    </div>
</div>

